### R ###
# History files
.Rhistory
.Rapp.history

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# heavy scores
02_dlbcl/04_diffusion_scores/
.Rproj.user

# packrat versioning
packrat/lib*/
packrat/bundles/*

# intermediate latex files
*.log
*.synctex.gz
*.aux
*.out

# main and suppl
10_main
11_supplement

# compiled pdf files
01_synthetic/10_synth_yeast.pdf
02_dlbcl/10_supplement.pdf
03_retroData/10_supplement.pdf
10_main/main.pdf
11_supplement/supplement-math-properties.pdf
all.zip

# other
*.zip
